<div class="modelo">
    <h3>modelo especifico</h3>
     <div class="card">
            <img src="img/img1.jpg" alt="">
            <p>Especificaciones</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Iure enim vero, facilis quia obcaecati odio? Neque deleniti eius quis perferendis <br> enim eaque a sequi vitae, officia alias similique ad velit.</p>
        </div>
</div>